[submodule "submodules/powerlevel10k"]
	path = submodules/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "submodules/.oh-my-zsh"]
	path = submodules/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
